body{
    background-image: url('images/stucco/stucco.png');
    font-family: Verdana, serif;
}
div.header {
    background-color: black;
    padding: 5px;
    text-align: right;
}
div.header a{
    color:azure;
    text-decoration: none;
}
div.header a:hover{
    color:rgb(175, 62, 105);
    text-decoration: none;
}

h1.bigTitle{
    text-align: center;
    font-size: 40px;
    color: rgb(159, 31, 72);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

nav.navbar ul {
    background-color: rgb(117, 121, 123);
    padding: 5px;
    text-align: left;
    list-style-type: none;
    overflow: hidden;
}
nav.navbar ul li {
    display: inline-block; /* Align items horizontally */
}
nav.navbar ul li a{
    color: rgb(209, 241, 229);
    text-decoration: none;
}

nav.navbar ul li a:hover{

    color: rgb(217, 165, 11);
    background-color: rgb(87, 166, 166);
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

div.main-content {
    background-color: aliceblue;
    margin-top: 10px;
    /* Apply clearfix to the main content container */
    overflow: hidden; /* Another method to clear floats */
}

div.main-product {
    width: 100%; /* Adjust based on content size */
    float: left; /* Float left for textual content */
    margin-bottom: 10px;
}

div.product-image {
    width: 40%; /* Adjust based on image size */
    float: left; /* Float right for the image */
}

div.product-image img {
    width: 100%; /* Ensure the image fits within its container */
    height: auto; /* Maintain aspect ratio */
}
div.buy-button{
    padding: auto;
    outline-color: black;
    outline-style: solid;
    float: left;
    width: 60%;
    text-align: center;
}
p.price{
    color: red;
    float: center;
}

div.product-information{
    margin-top: 20px
}

table.product-details{
    text-align: left;
}

td.under-line{
    text-decoration: underline;
    color: blue;
}

div.similar-products {
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4; /* Light gray background */
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* This will distribute space evenly */
}

.product-card {
    flex: auto; /* Grow and shrink with basis of 25% */
    
    box-sizing: border-box; /* Includes padding and border in the element's width */
    margin: 10px;
    padding: 10px;
    background-color: #ffffff; /* White background for each card */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    text-align: center; /* Centering the text and buttons */
}

.product-card img {
    width: auto; /* Make the image fit the width of the card */
    height: auto; /* Maintain aspect ratio */
}

.product-card p a{
    margin: 10px 0; /* Vertical spacing */
}

.product-actions button {
    margin-top: 5px;
    padding: 5px 10px; /* Padding inside buttons */
    border: none; /* Remove default border */
    background-color: #007BFF; /* Example blue background */
    color: white; /* White text */
    cursor: pointer; /* Pointer cursor on hover */
}

.product-actions button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

div.register-form{
    background-color: white;
}
/* Form Styling */
.register-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 800px;
    margin: auto;
}

.register-form form {
    display: flex;
    flex-direction: column;
}

.register-form h1, .register-form h3 {
    color: #333;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

/* Label and Input Styles */
label {
    margin-top: 20px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"],
select,
input[type="range"] {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Includes padding in the width */
}

input[type="range"] {
    cursor: pointer;
}



/* Button Styling */
button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    align-self: center;
}

button:hover {
    background-color: #555;
}

.register-form a {
    color: #0066cc;
}

.register-form a:hover {
    text-decoration: underline;
}
footer{
    margin-top: 20px;
    background-color: black;
    color: aliceblue;
    padding: 5px;
    text-align: center;
}